li{
    background-color: yellow;
}

h1, h2{
    background-color: green;
}

body{
    background-color: rgb(149, 177, 202);
}
.class1 {
    color: blue;
    background-color: pink;
    font-weight: bold;
}

/* element selectors don't need to be specified.
 CSS selectors (class, type, id, and attribute) need to be specified and prefixed by a (.) symbol.
 Universal selector (*) selects all HTML elements */